<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Angular how to avoid watch</title>
</head>
<body class="ab-angular-avoid-watcher ng-cloak" g:onload="requireWidget(__WIDGET__, 'js/angular-avoid-watcher');">
    <p>In this example, we can see how to put in communication two different controllers and models using a factory as a mediator</p>
    
    <div class="form-group" ng-controller="Controller1 as c1">
        <input class="form-control" ng-model="c1.variable1.value" placeholder="Type something here..." />
    </div>

    <div class="form-group" ng-controller="Controller2 as c2">
        <input class="form-control" ng-model="c2.variable2.value" placeholder="That will be reflected here..." />
    </div>
</body>
</html>
